<section id="projects">
<div class="container">
  <h3>Photography</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="https://photos.reys.net/">Photos by Gleb Reys</a></strong>
			- my primary photography collection
		</h5>
		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="http://www.flickr.com/greys">greys @ flickr</a></strong>
			- travel photos from Ireland, Kyrgystan and other places
		</h5>

    </div>
  </div>
</div>
</section>
